<header>
    <nav class="navbar">
        <a href="" class="navbar-logo"
            >Movies<strong class="mr-1">DB</strong>
            <svg xmlns="http://www.w3.org/2000/svg" width="" height="16" viewBox="0 0 22.857 20">
                <g transform="translate(-960 -244)">
                    <path
                        d="M0,202a2.857,2.857,0,0,0,2.857,2.857H20A2.857,2.857,0,0,0,22.857,202V192H0Z"
                        transform="translate(960 59.143)"
                        fill="#fff"
                    />
                    <path
                        d="M14.558,37.714l5.688-5.687A2.076,2.076,0,0,0,20,32H16.158l-5.714,5.714Zm-7.143,0L13.129,32H9.013L3.3,37.714Zm14.8-4.634-4.634,4.634h5.272V34.857A2.828,2.828,0,0,0,22.219,33.08ZM5.987,32H2.857A2.857,2.857,0,0,0,0,34.857v2.857H.271Z"
                        transform="translate(960 212)"
                        fill="#ffc800"
                    />
                </g>
            </svg>
        </a>

        <ul class="navbar-links">
            <li>
                <a
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Home</a
                >
            </li>
            <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
            <li><a routerLink="/genres" routerLinkActive="active">Genres</a></li>
        </ul>
    </nav>
</header>
