<div class="slider">
    <ng-container *ngFor="let item of items; let i = index">
        <div class="slide" *ngIf="i == currentSlideIndex" @slideFade>
            <div class="slide-bg">
                <img [src]="imagesSizes.large + item.backdrop_path" alt="" />
            </div>
            <div class="container-pane">
                <div class="slide-pane">
                    <h2 class="movie-title">{{ item.title }}</h2>
                    <div class="meta">
                        <div class="info">
                            <span class="rating">
                                <span class="app-icon">star</span
                                ><span class="rating-value">{{ item.vote_average }}</span
                                ><span>/10</span>
                            </span>
                            <span>{{ item.vote_count }} reviews</span>
                            <span>{{ item.release_date | date : 'yyyy' }}</span>
                        </div>
                    </div>

                    <div class="desc my-4">
                        {{ item.overview }}
                    </div>

                    <a *ngIf="!isBanner" routerLink="/movie/{{ item.id }}" class="genre-link mt-5"
                        >See movie details</a
                    >
                </div>
            </div>
        </div>
    </ng-container>
</div>
