/* You can add global styles to this file, and also import other style files */
@import './styles/reset';
@import './styles/colors';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import '~primeflex/primeflex.css';

@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/md-dark-indigo/theme.css';
@import '~primeng/resources/primeng.min.css';

* {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

body {
    font-size: 0.875rem;
    color: $lightText;
    background-color: $bgColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $lightText;
}

.app-icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.container {
    max-width: 1200px;
    padding: 0 1rem;
}

.wrapper {
    margin: auto;
    max-width: 1200px;
}

.p-tabview-title,
.actor span,
.info span,
.navbar-links a,
footer span {
    font-weight: normal;
}

.p-carousel-container button:first-child {
    position: absolute;
    left: 0;
}
.p-carousel-container button:last-child {
    position: absolute;
    right: 0;
}

.genre-link {
    display: flex;
    width: fit-content;
    background-color: black;
    color: $primaryColor;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    border: 1px solid $primaryColor;
    transition: all 300ms;

    &:hover {
        background-color: $primaryColor;
        color: black;
        -webkit-box-shadow: 0px 4px 24px 0px rgba(255, 200, 0, 0.32);
        -moz-box-shadow: 0px 4px 24px 0px rgba(255, 200, 0, 0.32);
        box-shadow: 0px 4px 24px 0px rgba(255, 200, 0, 0.32);
        transform: translate(0, -4px);
    }
}

.w-100 {
    width: 100%;
}

.item-rating {
    font-weight: normal;
    span {
        font-weight: normal;
    }
}

.item-card {
    transition: all 300ms;
    background: transparent;

    .item {
        border: 1px solid transparent;
    }

    &:hover {
        transition: all 300ms;
        transform: scale(1.02);

        .item {
            transition: all 300ms;
            border: 1px solid rgba(255, 200, 0, 0.24);
            -webkit-box-shadow: 0px 0 64px 0px rgba(255, 200, 0, 0.16);
            -moz-box-shadow: 0px 0 64px 0px rgba(255, 200, 0, 0.16);
            box-shadow: 0px 0 64px 0px rgba(255, 200, 0, 0.16);
        }
    }
}

.section-title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.p-tabview .p-tabview-panels {
    padding: 2rem 0;
}

.p-tabview-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06) !important;
    margin-top: 8px !important;
}

.p-inputtext {
    border-color: hsl(0, 0%, 12%);
    background: black;
}

.p-inputtext:enabled:focus {
    box-shadow: inset 0 0 0 1px $primaryColor, inset 0 0 0 1px $primaryColor,
        inset 0 0 0 1px $primaryColor, inset 0 0 0 1px $primaryColor;
}
.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: $primaryColor;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: $primaryColor;
}

.p-paginator {
    background: transparent;
    margin-bottom: 0.45rem;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: $primaryColor;
    background-color: black;
}

:root {
    --primary-color: $primaryColor;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar,
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: $primaryColor;
    border-radius: 4px;
}

.wrapper .grid .stat .value {
    color: white !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
    border-radius: 4px;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border-radius: 4px 4px 0 0;
}

.actor img,
.br-1 img,
.br-1 iframe {
    border-radius: 8px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    white-space: nowrap;
    transition: all 300ms;

    &:hover {
        transform: translate(0, -2px);
        opacity: 0.8;
    }
}

.navbar-links li a {
    display: inline-block;
    transition: all 300ms;

    &:hover {
        transform: translate(0, -2px);
        color: $primaryColor;
    }
}
